aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
aiosqlite==0.19.0
annotated-types==0.6.0
anyio==4.2.0
APScheduler==3.10.4
attrs==23.2.0
beautifulsoup4==4.12.3
certifi==2023.11.17
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
convopyro==0.5
distro==1.9.0
frozenlist==1.4.1
googletrans==3.1.0a0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.3.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
libretranslatepy==2.1.1
lxml==5.1.0
multidict==6.0.4
openai==1.11.1
py-carbon==1.0.4
pyaes==1.6.1
pydantic==2.6.0
pydantic_core==2.16.1
pygame==2.5.2
https://github.com/KurimuzonAkuma/pyrogram/archive/dev.zip
PySocks==1.7.1
python-weather==1.1.2
pytimeparse==1.1.8
pytz==2024.1
requests==2.31.0
rfc3986==1.5.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
TgCrypto==1.2.5
tqdm==4.66.1
translate==3.6.1
typing_extensions==4.9.0
tzdata==2024.1
tzlocal==5.2
urllib3==2.1.0
yarl==1.9.4
